@import "navigation.css";
@import "footer.css";
@import "login.css";
@import "feed.css";
@import "post.css";
@import "updates.css";
@import "message.css";
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
/*Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
  resize:vertical;
  overflow:auto;
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}
button {
  resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.actionIcon {
  height: 1.2em;
  margin: 0.5em 0.5em;
  cursor: pointer;
}

.highlight {
  border-color: purple;
}

.fakeLink {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
  background: none !important;
  border: none;
  cursor: pointer;
}

.fakeLink:hover {
  font-weight: bold;
}

#logo {
  cursor: pointer;
}
