.navigation {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid lightblue;
    padding: 0.5em 0 0.5em 1em;
    margin-bottom: 2em;
    position: fixed;
    z-index: 11;
    top: 0;
    width: 100%;
    background-color: whitesmoke;
    margin: auto;
}

.navigation__item {
    vertical-align: baseline;
}

.navigation__name {
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-top: 0.1rem;
}

.navigation__icon {
    max-height: 5rem;
    cursor: pointer;
}


.navigation__m {
    margin-left: auto;
    margin-right: 4em;
    display: flex;
    flex-direction: row;
    position: relative;
}

.navigation__message > img {
    max-height: 2px;
}

.notification__count{
    background-color:goldenrod;
    font-size: small;
    position: absolute;
    padding:2px;
    top: 5px;
    left: 3rem;
    min-width: 1.25rem;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
}

.navigation__messageItem {
    flex: 1;
}

.navigation__logout {
    align-self: center;
    margin-right: 2em;
    
}

#directMessageIcon {
    cursor: pointer;
    align-self: center;
    max-height: 3.75rem;
}

.logoutButton {
    align-self: center;
    justify-content: end;
    color: #404040;
    font-family: "Comfortaa", Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}