{
  "users": [
    {
      "id": 1,
      "fullName": "Steve Browny",
      "email": "headwizard@nss.com",
      "password": "steve"
    },
    {
      "fullName": "Gabe Gonzales",
      "email": "gabe@nss.com",
      "password": "gabe",
      "id": 2
    },
    {
      "fullName": "Dakota Lambert",
      "email": "dakota@nss.com",
      "password": "dakota",
      "id": 3
    },
    {
      "fullName": "Monika Kay",
      "email": "monika@nss.com",
      "password": "monika",
      "id": 5
    },
    {
      "fullName": "Ryan Sawyer",
      "email": "ryan@nss.com",
      "password": "ryan",
      "id": 6
    }
  ],
  "posts": [
    {
      "id": 1,
      "title": "Snack break",
      "url": "https://media.giphy.com/media/WynKmCK0LwykM/giphy.gif",
      "description": "Squirtle Squad",
      "timestamp": "2021-05-21",
      "userId": 1,
      "isFavorited": false
    },
    {
      "title": "BLM",
      "url": "https://media.giphy.com/media/lxzkqqFj30xVLXMlhm/giphy.gif",
      "description": "Too right",
      "timestamp": "11:10:27 AM | 5/26/2021",
      "isFavorited": false,
      "userId": 3,
      "id": 12
    },
    {
      "title": "To You",
      "url": "https://media.giphy.com/media/13bdJQNZ2HpXQk/giphy.gif",
      "description": "From Me <3",
      "timestamp": "11:14:33 AM | 5/26/2021",
      "isFavorited": false,
      "userId": 3,
      "id": 13
    },
    {
      "title": "???",
      "url": "https://media.giphy.com/media/5oPUnOQYUhLjO/giphy.gif",
      "description": "I know what code is",
      "timestamp": "11:31:36 AM | 5/26/2021",
      "isFavorited": false,
      "userId": 3,
      "id": 14
    }
  ],
  "userPosts": [],
  "favorites": [],
  "messages": [],
  "userMessages": []
}