{
  "users": [
    {
      "id": 1,
      "fullName": "Steve Browny",
      "email": "headwizard@nss.com",
      "password": "steve"
    },
    {
      "fullName": "Gabe Gonzales",
      "email": "gabe@nss.com",
      "password": "gabe",
      "id": 2
    },
    {
      "fullName": "Dakota Lambert",
      "email": "dakota@nss.com",
      "password": "dakota",
      "id": 3
    },
    {
      "fullName": "Monika",
      "email": "monika@nss.com",
      "password": "monika",
      "id": 5
    },
    {
      "fullName": "Ryan Sawyer",
      "email": "ryan@nss.com",
      "password": "ryan",
      "id": 6
    }
  ],
  "posts": [
    {
      "id": 1,
      "title": "Snack break",
      "url": "https://media.giphy.com/media/WynKmCK0LwykM/giphy.gif",
      "description": "Squirtle Squad",
      "timestamp": "2021-05-21",
      "isFavorited": false
    },
    {
      "title": "Bugz",
      "url": "https://media.giphy.com/media/66dLOWrLqrgxWHSeVR/giphy.gif",
      "description": "I love debugger!!",
      "id": 3
    },
    {
      "title": "When lunch is only 30 away",
      "url": "https://media.giphy.com/media/0kbIdrKDPV0hMyPcew/giphy.gif",
      "description": "It do be like that sometimes",
      "timestamp": 1621873829385,
      "isFavorited": false,
      "id": 4
    },
    {
      "title": "Lunch <3",
      "url": "https://media.giphy.com/media/mUQCVhZxs8XUpkHo4u/giphy.gif",
      "description": "<3",
      "timestamp": "11:33:08 AM | 5/24/2021",
      "isFavorited": false,
      "id": 5
    },
    {
      "title": "But is it your birthday???",
      "url": "https://media.giphy.com/media/oXpZ1sLkbCZ9jFhBMx/giphy.gif",
      "description": "What a day we're having!!!",
      "timestamp": "1:54:19 PM | 5/24/2021",
      "isFavorited": false,
      "id": 6
    },
    {
      "title": "To my instructors...",
      "url": "https://media.giphy.com/media/w6VY9ka8YDk9ac0Y3T/giphy.gif",
      "description": "ADULT PLEEEEAAAASSSSEEEE",
      "timestamp": "11:47:38 AM | 5/25/2021",
      "isFavorited": false,
      "id": 7
    }
  ],
  "userPosts": [],
  "favorites": [],
  "messages": [],
  "userMessages": []
}