{
  "users": [
    {
      "id": 1,
      "full-name": "Steve Browny",
      "email": "headwizard@nss.com",
      "password": "steve"
    }
  ],
  "posts": [
    {
      "id": 1,
      "title": "Snack break",
      "url": "https://media.giphy.com/media/WynKmCK0LwykM/giphy.gif",
      "description": "Squirtle Squad",
      "timestamp": "2021-05-21",
      "isFavorited": false
    }
  ],
  "userPosts": [],
  "favorites": [],
  "messages": [],
  "userMessages": []
}
